@(message: String)

@main("首页") {
   	 验证码：<input name="vertifiedCode" />
    <img src="/getCheckImg" id="vimg"/>
    <a href="javascript:myReload();">看不清，换一个</a>
    <button>提交</button>
    
            <script >  
				function myReload() {  
				    document.getElementById("vimg").src = document  
				            .getElementById("vimg").src  
				            + "?nocache=" + new Date().getTime();  
				} 

				document.getElementById("vimg").onclick = function(){
						myReload();
				}
			</script>  
}
